<div class="load-games">
  <div class="games-list">
    <% @games.each do |game| %>
      <%= link_to game_path(game.id.to_i) do %>
        <div class="loaded-game">
          <p id="game-title"><%= game.title %></p>
          <p id="game-date"> Created on: <%= game.created_at.strftime("%d/%m/%Y") %><p>
          <h1>hi</h1>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
