<div class="options" data-controller = "options menu">
  <div class="options-body">
    <div class="projector-mode">
      <h4>Projector Mode</h4>
      <label class="switch">
        <input type="checkbox" data-action = "change->options#projectorMode" data-options-target = "slider" >
        <span class="slider round"></span>
      </label>
    </div>
    <button data-action = "click->options#optionsLoad">Close</button>
  </div>
</div>
