<dialog open data-controller="round" data-round-target = "roundPopup" data-round-teams-value = "<%= @game_teams.to_json %>" data-round-game-value = "<%= @game.to_json %>">
  <h3>Round <%= @game_round %></h3>
</dialog>
