<div class="save-message" data-controller = "map">
  <div class="save-body">
    <h4>Success!</h4>
    <p>Game has been saved</p>
    <button data-action = "click->map#closeNotification">Close</button>
  </div>
</div>
