<div class="save-message" data-controller = "map">
  <div class="save-body">
    <div class="body-text">
      <h1>Success!</h1>
      <p>Game has been saved</p>
    </div>
    <button data-action = "click->map#closeNotification">OK</button>
  </div>
</div>
