<div class="score-container" data-controller="score" data-score-teams-value="<%= @game_teams.to_json %>">
  <div class="score1 red-score score" team-color = "red">
    <h3>0</h3>
  </div>
  <div class="score2 blue-score score" team-color = "blue">
    <h3>0</h3>
  </div>
  <div class="score3 green-score score" team-color = "green">
    <h3>0</h3>
  </div>
  <div class="score4 orange-score score" team-color = "orange">
    <h3>0</h3>
  </div>
  <div class="score5 purple-score score" team-color = "purple">
    <h3>0</h3>
  </div>
  <div class="score6 black-score score" team-color = "black">
    <h3>0</h3>
  </div>
</div>
