<div class="color-select">
    <div id="select">
      <% @game_teams.each do |team| %>
        <div id = "<% team.color %>" class="splatter"><%= show_svg("#{team.color}.svg") %></div>
      <% end %>
    </div>
  </div>
