<div class="container">
  <h1>Make a new list</h1>
  <div class="new_list">
    <%= simple_form_for @student_list do |f| %>
      <%= f.input :list_name %>
      <%= f.button :submit, "Submit", class: "btn btn-success" %>
    <% end %>
    <%= link_to "Home", root_path, class: "btn btn-success" %>
  </div>

</div>
