<!-- <Footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
      <span class="text-muted">&copy TimCappin</span>
    </div>
    <div class="container">

    </div>
</Footer> -->

<footer>
  <div class="footer">
    <span id="copyright">&copy TimChapin</span>
    <div class="footer_content">
    </div>
  </div>
</footer>
