<nav class= "navbar-min">
  <div class="banner">
    <div class="nav-elements">
    <% if user_signed_in? %>
        <div class="profile">
          <%= link_to "Logout", destroy_user_session_path, data: {turbo_method: :delete} %>
          <%= image_tag "default_user.png", class: "avatar" %>
        </div>
      <% else %>
        <div class="profile">
          <%= link_to "Login", new_user_session_path %>
        </div>
      <% end %>
    </div>
  </div>
</nav>
