<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "New List", new_student_list_path, class:"btn btn-success" %>
<%= link_to "View Lists", student_lists_path, class:"btn btn-success" %>
