<div class="saved-games-list" data-controller="select">
  <%= form_tag destroy_multiple_games_path, class: 'game-select', method: :delete do %>
    <div class="saved-games-cards">
      <% @games.each do |game| %>
        <div class="game-card" data-action = "click->#select#handleCheckboxChange" >
          <%if current_user === game.user %>
            <%= check_box_tag "game_ids[]", game.id, false, class: 'selectable'%>
          <% end %>
          <h4><%= link_to game.title, game%></h4>
        </div>
      <% end %>
    </div>
    <%= submit_tag I18n.t('buttons.delete'), :class => 'game-button danger' %>
  <% end %>
</div>
