<div id="container" data-controller="load">
  <div class="map-background">
    <%# <svg>
      <filter id="turbulence" x="0" y="0" width="100%" height="50%">
        <feTurbulence id="waves" numOctaves="1" seed="1" baseFrequency="0.02 1"></feTurbulence>
        <feDisplacementMap scale="500" in="SourceGraphic"> </feDisplacementMap>
        <animate xlink:href = "#waves" attributeName="baseFrequency" dur="60s"
          keyTime="0;0.5;1" values="0.02 0.06; 0.04 0.08; 0.02 0.06" repeatCount="indefinite"></animate>
      </filter>
    </svg> %>
  </div>
  <div class="games-container">
    <div class="load-games">
      <div class="games-list">
        <% @games.each do |game| %>
          <div class="loaded-game">
            <%= link_to game.title, game_path([game.id], class: "loaded-games") %>
            <p> Created on: <%= game.created_at.strftime("%d/%m/%Y") %></p>
          </div>
        <% end %>
      </div>
    </div>
    <div id = "cloud1" class="cloud"></div>
    <div id = "cloud2" class="cloud"></div>
    <div id = "cloud3" class="cloud"></div>
    <h1>Japan</h1>
    <%= show_svg('JapanBoardIndex.svg') %>
    <div class="game-buttons">
      <%= link_to "New Game", new_game_path, class: "game-button" %>
      <button class="game-button" data-action="click->load#load">Load</button>
    </div>
  </div>
</div>
