<div class="container">
  <h1>New Game!</h1>
  <div class="new_game">
    <%= simple_form_for @game do |f| %>
      <%= f.input :title%>
      <%= f.button :submit, "Submit", class: "btn btn-success" %>
    <% end %>
    <%= link_to "Home", root_path, class: "btn btn-success" %>
  </div>
</div>
