.games-container {
  width: 100vw;
  height: 92vh;
  background-color: rgb(2, 131, 192);
  z-index: -1;
}
.games-list a {
  color: black;
}
.games-list {
  list-style: none;
}
.load-games {
  color: white;
  display: none;
  position: absolute;
  text-decoration: none;
}
