.games-container {
  width: 100vw;
  width: 100svw;
  height: 92vh;
  height: 92svh;
  background-color: rgb(2, 131, 192);
  z-index: -1;
}

.load-games {
  color: black;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 20vw;
  text-decoration: none;
  height: auto;
  background-color: rgb(0, 0, 0);
  box-shadow: 3px 3px 2px rgb(46, 46, 46);
}
.games-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.loaded-game{
  background-color: white;
  margin: 10px;
  padding: 5px;
  text-align: center;
}
.load-games a {
  color: black;
}
