.games-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  width: 100svw;
  height: 100vh;
  height: 100svh;
  background-color: rgb(2, 131, 192);
  transition: 0.5s;
  z-index: -1;
}

.japan-board-index{
  width: 90svw;
  transition: 0.5s;
}

.load-games {
  z-index: 1;
  color: white;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 30svw;
  width: 30vw;
  border-radius: 20px;
  text-decoration: none;
  height: auto;
  background-color: white;
  box-shadow: 3px 3px 2px rgb(46, 46, 46);
  overflow-y: scroll;
}
  .load-games::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }
.games-list {
  z-index: 1;
  height: 70svh;
  height: 70vh;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.loaded-game{
  transition: 0.2s;
  z-index: 1;
  background-color: darkblue;
  margin: 5%;
  padding: 2.5%;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 2px 2px grey;
  #game-title{
    font-size: 1.5vw;
    font-weight: bold;
  }
  #game-date{
    font-size: 1vw;
  }
  p {
    margin-bottom: 1vh;
  }
}
.loaded-game:hover {
  transition: 0.2s;
  background-color: lightblue;
  #game-title, #game-date {
    color: darkblue;
  }
}
.load-games a {
  text-shadow: 1px 2px 2px rgb(158, 158, 158);
  color: white;
  text-decoration: none;
}
