.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(2, 131, 192);
}
.japan-board {
  height: 92svh;
  transition: 1s;
}
.japan-board .st0{
  transition: 0.3s ease-in-out;
}
.japan-board .st0:hover {
  fill: white !important;
}
.label {
  pointer-events: none;
}

.color-select {
  display: none;
  position: absolute;
}
#select {
  display: flex;
  flex-wrap: wrap;
}
.st1 {
  font-family: 'Roboto-Regular';
}
.st2 {
  font-size: 14px;
}
.splatter {
  width: 15svw;
  z-index: 1;
}
.game-options {
  position: absolute;
}
