
.color-select {
  display: none;
  position: absolute;
  width: 40svw;
  left: 10svw;
}
#select {
  display: flex;
  flex-wrap: wrap;
}
.splatter-select {
  width: 15svw;
  z-index: 1;
}
.splatter {
  width: 15svw;
  z-index: 1;
}
.select-opacity {
  opacity: 0.5;
  transition: 0.2s;
}
