.game-buttons {
  display: flex;
  width: 60%;
  height: 10%;
  justify-content: center;
  align-items: center;
}

.game-button {
  border-style: none;
  color: white;
  background-color: rgb(95, 157, 160);
  font-size: 1.8vw;
  width: 15svw;
  height: 8svh;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  margin: 1rem;
  transition: 0.2s ease-in-out;
  border:none;
  text-decoration: none;
}

.game-button:hover {
  background-color: rgb(38, 65, 66);
  color: white;
}
