.game-buttons {
  display: flex;
  width: 60%;
  height: 10%;
  justify-content: center;
  align-items: center;
}

.game-button {
  border-style: none;
  color: white;
  background-color: darkblue;
  font-size: 1.8vw;
  width: 15svw;
  height: 8svh;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  margin: 0.5rem;
  transition: 0.2s ease-in-out;
  border:none;
  text-decoration: none;
  z-index: 1;
}
.game-button-s {
  border-style: none;
  color: white;
  background-color: darkblue;
  font-size: 1.8vw;
  width: 60%;
  height: 30%;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  transition: 0.2s ease-in-out;
  border:none;
  text-decoration: none;
  z-index: 1;
}

.game-button:hover, .game-button-s:hover {
  background-color: rgb(38, 65, 66);
  color: white;
}

@media screen and (min-width: 1600px) {
  .game-button-s {
    font-size: 2rem;
  }
}
