.game-buttons {
  display: flex;
  width: 60%;
  height: 10%;
  justify-content: center;
  align-items: center;
}

.game-buttons p {
  color: white;
  background-color: rgb(95, 157, 160);
  font-size: 1.8vw;
  width: 20%;
  max-width: 20%;
  height: 70%;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 2px 2px 5px grey;
  margin: 1rem;
  pointer-events: none;
}

.game-buttons p:hover {
  background-color: black;
}

.game-buttons a {
}
