/* Footer Style*/
footer {
  position: fixed;
  margin: auto;
  height: 64px;
  width: 100%;
  box-shadow: 0px -5px 10px grey;
  color: whitesmoke;
  background: rgb(2, 131, 192);
  box-sizing: border-box;
  bottom: 0;
  left: 0;

}

.social_media {
  height:64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 1rem;
  margin-bottom: 0;

}

#copyright {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 64px;
  box-sizing: border-box;
  position: absolute;
  color: whitesmoke;
  opacity: 20%;
}
/*End of Footer Style*/
