.nav_bar_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.user_links {
  display: flex;
  align-items: center;
  padding: 10px;
}
.user_profile_links{
  text-decoration: none;
  color: black;
}
