.new-game {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: white;
  color: white;
  padding: 15px;
  border-radius: 20px;
  width: 30%;
  height: 35%;
  max-width: 450px;
  max-height: 300px;
  z-index: 1;
  box-shadow: 0px 2px 2px rgb(115, 115, 115);
}
.new_game {
  width: 100%;
}
.game_title {
  width: 100%;
}
.form-label {
  font-size: 3vw;
  color: darkblue;
  padding-bottom: 1vh;
  margin: 0;
  font-weight: bold;
}
.form-control {
  height: 50%;
  font-size: 1.8vw;
  background-color:white ;
  border: 1px solid darkblue;
  text-align: center;
}

#new_game {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

@media screen and (min-width: 1600px) {
  .form-label, .form-control {
    font-size: 2.5rem;
  }
}
