.save-message {
  visibility: hidden;
  width: 30svw;
  height: 15svw;
  min-width: 250px;
  min-height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  z-index: 3;
  box-shadow: 2px 2px 5px rgb(54, 54, 54);
  border-radius: 12px;
}
.save-body {
  height: inherit;
  min-height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  h3 {
    font-weight: 800;
  }
  p {
    color: rgb(124, 124, 124);
  }
  button {
    font-weight: 700;
    border-style: none;
    background-color: darkblue;
    color: white;
    border-radius: 35px;
    width: 80%;
    height: 30%;
    box-shadow: 2px 2px 2px rgb(165, 165, 165);
  }
}
