$slide-content-height: 30svh;

.menu {
  width: 7svw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 1vw;

  img {
    width: 4vw;
    height: 6vh;
    max-width: 50px;
    max-height: 50px;
  }
}

.popup-menu {
  position: relative;
  visibility: hidden;
  overflow: hidden;
  height: 0;
  width: 8svw;
  display: flex;
  background-color: white;
  flex-direction: column;
  border-radius: 2px;
  box-shadow: 1px 2px 5px 0px #6a6969;
  z-index: 1;

  p,
  a {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // text-decoration: none;
    color: black;
    list-style: none;
    width: inherit;
    height: inherit;
    text-align: center;
    font-size: 1.5vw;
    margin: 0;
    padding: 5%;
  }

  p:hover,
  a:hover {
    background-color: #b2b2b2;
    cursor: pointer;
  }

  p a {
    text-decoration: none;
    text-shadow: 0px 2px 3px #b2b2b2;
    color: black;
  }

}

.slide-down {
  animation: slide-down 0.2s linear both;
}

.slide-up {
  animation: slide-up 0.2s linear both;
}

@keyframes slide-down {
  0% {
    visibility: hidden;
    height: 0;
  }

  100% {
    visibility: visible;
    height: $slide-content-height;
  }
}

@keyframes slide-up {
  from {
    visibility: visible;
    height: $slide-content-height;
  }

  to {
    visibility: hidden;
    height: 0;
  }
}
