.wave {
  width: 2svw;
  height: 100svh;
  position: absolute;
  top: 0;
  left: 0;
  animation: move 100s infinite;
}

@keyframes move {

  0% {
    transform: translatex(-10svw);
    // visibility: hidden;
    animation-timing-function: linear;
  }

  100% {
    transform: translatex(120svw);
    visibility: hidden;
    animation-timing-function: cubic-bezier(0, 0, 0, 1);
  }
}
