* {
  box-sizing: border-box;
}

.links {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.links a {
  padding: 10px;
  color: black;
  text-decoration: none;
}

.notice {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

html {
  height: 100%;
}

body {
  height: 100svh;
  width: 100svw;
}

#container {
  display: block;
  overflow: hidden;
}

#vertical-container {
  display: none;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (orientation:portrait) {

  #container,
  .navbar-min,
  .menu,
  .map-container,
  .saved-games-list,
  .options-body,
  .slide-down {
    // height: 100vw;
    // -webkit-transform: rotate(90deg);
    // -moz-transform: rotate(90deg);
    // -o-transform: rotate(90deg);
    // -ms-transform: rotate(90deg);
    // transform: rotate(90deg);
    animation: fade-out 0.2s linear;
    animation-fill-mode: forwards;
  }

  #vertical-container {
    display: block;
  }
}

@media only screen and (orientation:landscape) {
  #container {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    animation: fade-in 3s linear;
    animation-fill-mode: forwards;
  }
  .lds-ring {
    animation: loading 2s linear;
    animation-fill-mode: forwards;
  }
}


@keyframes loading {
  0% {
    opacity: 0;
    display: block;
  }

  100% {
    opacity: 1;
    display: none;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: visible;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "/config/projector_mode";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "student_lists/index";
@import "games/index";
@import "devise/index";
